/* this is for the code specific to tab Portfolio */
/* The general style of this site can be found in stylePortfolio */

/* table */
table{
    margin: 1rem;
    padding: 0.2rem;
    border: 2px black solid;
    text-align: center;
}
td{
    padding: 1em;
}