/*general*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 16px;
    width: 100%;
}
body{
    background-image: linear-gradient(lightblue , white);
    background-repeat: no-repeat;
} 
p{
    font-size: 16px;
}
ul{
    list-style-position: inside;
}

main{
    box-sizing: border-box;
    margin: 0 48px;
    padding-top: 3.7rem;
    background-color: white;
    opacity: 0.88;
    padding-left: 2rem;
    padding-right: 2rem;
    
}
/*header*/
/* see header.css */
header{
    box-sizing: border-box;
    background-color: rgb(95, 145, 240);
    position: fixed;
    padding: 1rem 3rem;
    z-index: 100;
    width: 100%;
    border-radius:0 0 0.5rem 0.5rem;
}
header a{
    color: black;
    text-decoration: initial;
    transition: color 400ms;
}
header a:hover{
    color: white;
}

nav li{
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.1rem;
}
.active{
    border-bottom: 3px black dotted;
}

.toRight{
    position: absolute;
    right: 1.5rem;
    display: inline-block;  
    z-index: 2;
}
.subnav{
    position: absolute;
    visibility: hidden;
}
.subnav li{
    display: block;
}

nav ul li:hover .subnav{
    visibility: visible;
    background-color: rgb(95, 145, 240);
}

/*footer*/
footer{
    padding: 0.7rem 3rem;
    margin-top: 0.3rem;
    background-color: rgb(46, 46, 46);
    color: white;
}
